.contenedor {
    display: flex;

}

.contenedor .card {
    flex-direction: row;

}

tr{
    margin-bottom: 5px;
}

td {
    padding: 4px;
}


@media (max-width:950px) {
    .card-tabla {
        width: 100%;
    }

    table {
        width: 100%;
    }

    .card {
        width: 100%;
        margin: 0px;
        overflow-x: auto;
    }
}
