<div class="containerLogin">

    <div class="tarjetaLogin mt-2">

        <div class="card m-auto mt-2 tarjetaLogeo" style="max-width: 300px;">

            <div class="card-body p-2">
                <h5 class="card-title mt-2">Cambio de contraseña</h5>
                <form>
                    <div class="mb-2">
                        <label for="" class="form-label">Contraseña actual</label>
                        <input type="password" class="form-control" id="actual" name="actual" #actual>
                    </div>
                    <div class="mb-2">
                        <label for="" class="form-label">Contraseña nueva</label>
                        <input type="password" class="form-control" id="nueva" name="nueva" #nueva>
                    </div>
                    <div class="mb-2">
                        <label for="" class="form-label">Repita contraseña nueva</label>
                        <input type="password" class="form-control" id="nuevaR" name="nuevaR" #nuevaR>
                    </div>
                    <div class="boton">
                        <input type="button" value="Ingresar" class="btn btn-success btn-block" (click)="changePassword(actual, nueva, nuevaR)">
                    </div>
        
                </form>
            </div>

            <div class="card-footer teamDev">
                [SpaceD3vs]
            </div>
        </div>
    </div>

</div>



