.contenedor {
    display: flex;
}

.card{
    width: 95%;
    margin: 2% 2% 10% 2%;
    overflow-y: auto;
    
}

.paneles{
    padding: 0px 5px;
}


@media (max-width:950px) {
    .card{
        width: 100%;
        margin: 0px;
        overflow-x: auto;}
}