.contenedor {
    display: flex;
    border: none;
}

.card .list-group {
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
}

.card .list-group-item {
  word-break: break-word;
  white-space: normal;
}