.contenedor {
    display: flex;
    border: none;
}

.card {
    width: 90%;
    margin: 2% 2% 10% 2%;
    overflow-y: auto;
    border: none;
}

.secciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vista-responsive {
    display: none;
    padding: 4px 8px;
}

.vista-monitor {
    display: block;
}

.info {
    padding: 4px 6px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 5px 0px rgba(186, 186, 186, 0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(186, 186, 186, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(186, 186, 186, 0.75);
}

.info p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.info .estado {
    text-align: left;
}

.info .boton {
    text-align: right;
}

.info .boton a {
    margin-top: 1em;
    padding: 0px 15px;
}

.monto-estado-items{
    text-align: center;
}

.cuerpo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.contenido{
    padding: 2px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-right: 2px;
}

.contenido h3{
    text-align: center;
    background-color: rgb(255, 250, 240);
}


@media (max-width:950px) {
    .card {
        width: 100%;
        margin: 0px;
        overflow-x: auto;
    }

    .vista-monitor {
        display: none;
    }

    .vista-responsive {
        display: block;
        padding: 4px 10px;
    }
}