<barra-superior></barra-superior>
<div class="contenedor">
    <app-navegacion *ngIf="loginService.data.showNav"></app-navegacion>

    <div class="card animation_aparecer">
        <div class="card-header">
            <div class="row">
                <h4 class="col-md-9">
                    Nuevo Feriado
                </h4>
            </div>

        </div>

        <div class="card-body">
          
            <form #formFeriado="ngForm" (ngSubmit)="guardarNoticia()">

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Fecha</label>
                        <input type="date" class="form-control" name="fecha_feriado" aria-describedby=""
                            placeholder="Ingrese fecha de feriado"
                            [(ngModel)]="feriado.fecha_feriado" #fecha_feriado="ngModel" required
                            >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" name="descripcion" aria-describedby=""
                            placeholder="Ingrese descripcion del feriado"
                            [(ngModel)]="feriado.descripcion" #descripcion="ngModel" required
                            >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-light m-2">Guardar</button>
                    <input type="button" class="btn btn-light m-2" value="Cancelar" (click)="cancelar()">
                </div>
            </div>

        </form>

        </div>

    </div>

</div>